<div class="demo-page-container">
    <div class="side-menu">
        <div class="menu-item" (click)="onItemClick(materials.Button)" >
            Button
        </div>
        <div class="menu-item" (click)="onItemClick(materials.Table)" >
            Table
        </div>
    </div>
    <div class="preview-panel">
        <app-nv-button label="Primary Button" *ngIf="selectedItem === materials.Button"></app-nv-button>
        <app-nv-table  *ngIf="selectedItem === materials.Table"></app-nv-table>
    </div>
</div>
